
.crumb {
  position: relative;
  display: flex;
  justify-content: center;
  color: blue;
  min-width: 100px;

  &:hover {
    cursor: pointer;
    background-color: rgb(179, 224, 224);
  }
}

.nav {
  padding: 5px 8px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transform: skew(-25deg);
  }
  
  &:hover {
    background-color: inherit;
    &::after {
      background-color: red;
    }
  }
}

.content {
  width: fit-content;
  font-size: 1.2em;
}
