.crumb {
  color: blue;

  &:hover {
    cursor: pointer;
    background-color: rgb(179, 224, 224);
  }
}

.nav {
  &:not(:last-child)::after {
    content: ">";
    display: inline-block;
    margin-left: 15px;
    color: black;
    font-weight: 700;
  }
}

.content {
  width: fit-content;
  font-size: 1.2em;
}
