.app {
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid red;
}

.contents {
  padding: 5px;
}
